@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/nohemi/Nohemi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/nohemi/Nohemi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@theme {
  /* Animation Section */
  @keyframes slideToRightLoop {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(8px);
    }
  }

  @keyframes bounceUp {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  --animate-slide-right-loop: slideToRightLoop 1s ease-in-out infinite;
  --animate-bounce-up: bounceUp 1.5s ease-in-out infinite;

  /* Other setup */
  --font-nohemi: "Nohemi", "Inter", sans-serif;
  --font-outfit: "Outfit", "Outfit", sans-serif, system-ui;
  --color-red-light: #f9ebec;
  --color-red-dark: #c33241;
  --color-text-white: #fafafa;
  --color-green-color: #1da177;
}
